node_modules/
www/lib/
www/js/
www/style.css
www/index.html
www/dashang.jpg
android/app/src/main/assets/public/
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
*.apk
*.aab
*.keystore
